variable "endpoint" {
  type    = string
  default = ""
}

variable "user" {
  type    = string
  default = ""
}

variable "pass" {
  type    = string
  default = ""
}

variable "acct_id" {
  type    = string
  default = ""
}