terraform {
  required_providers {
    dsm = {
      version = "0.5.18"
      source  = "fortanix.com/fortanix/dsm"
    }
  }
}

provider "dsm" {
  endpoint = "https://sdkms.fortanix.com"
  username = "abc@abc.com"
  password = "xxxxxxxxxxxxxx"
  acct_id  = "xxxxxxxx-xxxx-xxxx-xxxx-xxxxxxxxxxxx"
}

variable "approval_policy" {
   type = any
   description = "The policy document. This is a JSON formatted string."
   default = <<-EOF
        {
		"policy": {
			"quorum": {
				"n": 1,
				"members": [{
					"user": "54e489ca-f5aa-4e59-869e-281bbd37caa2"
				}],
				"require_2fa": false,
				"require_password": true
			}
		},
		"manage_groups": false,
		"protect_authentication_methods": true,
		"protect_cryptographic_policy": true,
		"protect_logging_config": true
	}
   EOF
}

resource "dsm_acc_quorum_policy" "Policy1" {
  acct_id = "e8109ee3-a729-4562-8806-a932848191af"
  approval_policy = var.approval_policy
}
