terraform {
  required_providers {
    dsm = {
      version = "0.5.17"
      source  = "fortanix.com/fortanix/dsm"
    }
  }
}

provider "dsm" {
  endpoint = "https://sdkms.fortanix.com"
  username = "abc@abc.com"
  password = "xxxxxxxxxxxxxx"
  acct_id  = "xxxxxxxx-xxxx-xxxx-xxxx-xxxxxxxxxxxx"
}

variable "approval_policy" {
   type = any
   description = "The policy document. This is a JSON formatted string."
   default = <<-EOF
      {
         "quorum": {
            "n": 1,
            "members": [{
               "user": "54e489ca-f5aa-4e59-869e-281bbd37caa2"
            }],
            "require_password": false,
            "require_2fa": false
         },
         "protect_permissions": ["ROTATE_SOBJECTS", "REVOKE_SOBJECTS", "REVERT_SOBJECTS", "DELETE_KEY_MATERIAL", "DELETE_SOBJECTS", "DESTROY_SOBJECTS", "MOVE_SOBJECTS", "CREATE_SOBJECTS", "UPDATE_SOBJECTS_PROFILE", "UPDATE_SOBJECTS_ENABLED_STATE", "UPDATE_SOBJECT_POLICIES", "ACTIVATE_SOBJECTS", "UPDATE_KEY_OPS"],
         "protect_crypto_operations": true
      }
      EOF
}

resource "dsm_group" "QuorumPolicyTest" {
  name = "QuorumPolicyTest"
  description = "1234567890"
  approval_policy = var.approval_policy
}
