variable "cryptographic_policy" {
   type = any
   description = "The crypto policy document. This is a JSON formatted string."
   default = <<-EOF
      {
		"aes": {
			"key_sizes": [128, 192, 256]
		},
		"aria": {},
		"bip32": {},
		"certificate": {},
		"des": {},
		"des3": {},
		"dsa": {},
		"ec": {
			"elliptic_curves": ["SecP256K1", "NistP192", "NistP224", "NistP256", "NistP384", "NistP521", "Gost256A", "X25519", "Ed25519"]
		},
		"eckcdsa": {},
		"hmac": {
			"minimum_key_length": 112
		},
		"kcdsa": {},
		"key_ops": ["SIGN", "VERIFY", "ENCRYPT", "DECRYPT", "WRAPKEY", "UNWRAPKEY", "DERIVEKEY", "MACGENERATE", "MACVERIFY", "EXPORT", "APPMANAGEABLE", "AGREEKEY"],
		"legacy_policy": "unprotect_only",
		"opaque": {},
		"rsa": {
			"encryption_policy": [],
			"minimum_key_length": 1024,
			"signature_policy": []
		},
		"secret": {},
		"seed": {}
      }
      EOF
}

resource "dsm_acc_crypto_policy" "my_crypto_policy" {
  acct_id  = "e8109ee3-a729-4562-8806-a932848191af"
  cryptographic_policy = var.cryptographic_policy
}
